::selection {
    background-color: #dd5d07;
    color: #121015; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #23202a;
}

.navbar {
    background-color: #121015;
    padding-top: 1rem;   
    padding-bottom: 1rem;
}

.navbar-brand{
    color: #dd5d07;
}

.navbar-brand:hover {
    color: #dd5d07;
}

.nav-link:hover {
    color: #dd5d07;
}

.card-like {
    border: 1px solid #198754; 
}

.card-dislike {
    border: 1px solid #dd5d07; 
}

.text-like {
    color: #198754;
}

.text-dislike {
    color: #dd5d07;
}

.btn-outline-danger {
    border: 1px solid #dd5d07;
}

.btn.text-dislike.btn-outline-danger:focus,
.btn.text-dislike.btn-outline-danger:active {
    color: #dd5d07 !important;
    border-color: #dd5d07 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgba(221, 93, 7, 0.25) !important;
}

.btn-outline-danger:hover {
    background-color: #dd5d07;
    color: #121015; 
}

.btn-outline-success:hover {
    color: #121015;
}

.btn.text-like.btn-outline-success:focus,
.btn.text-like.btn-outline-success:active {
    color: #198754 !important;
    border-color: #198754 !important;
    background-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
}

footer {
    background-color: #121015; 
}

footer .btn-outline-light {
    border-color: #dd5d07 !important; 
    color: #dd5d07;
}

footer .btn-outline-light:hover {
    background-color: #dd5d07;
    color: #121015; 
}

footer .btn-outline-light:focus,
footer .btn-outline-light:active {
    border-color: #dd5d07 !important;
    background-color: #dd5d07 !important;
    color: #121015 !important;
    box-shadow: 0 0 0 0.25rem rgba(221, 93, 7, 0.25) !important;
}

.text-bg-dark {
    background-color: #121015 !important;
    color: #dfdcdc !important;
}

.text-orange {
    color: #dd5d07;
}

.badge-genre {
    background-color: #dd5d07 !important;
    color: #121015 !important;
}

#errorToast {
    background-color: #121015;
    border: 1px solid #dd5d07; 
}

#errorToast .toast-header {
    background-color: #23202a; 
    color: #dd5d07;
}

#errorToast .toast-body {
    color: #dfdcdc; 
}

#successToast {
    background-color: #121015;
    border: 1px solid #198754; 
}

#successToast .toast-header {
    background-color: #23202a; 
    color: #198754; 
}

#successToast .toast-body {
    color: #dfdcdc; 
}

.form-control:focus {
  border-color: #dd5d07;
  box-shadow: 0 0 0 0.25rem rgba(221, 93, 7, 0.25);
}