{% if medias_list %} 
    <div class="row align-items-stretch justify-content-center">
        {% for media in medias_list %}
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="card shadow text-bg-dark h-100 d-flex flex-column">
                    <img src="{{ media.image }}" class="card-img-top" alt="{{ media.title }}">
                    <div class="card-body d-flex flex-column flex-grow-1"> 
                        <h5 class="card-title">{{ media.title }}</h5>
                        <p class="card-text small">{{ media.description }}</p>
                        <div class="text-start mb-2">
                            <span class="badge badge-genre">{{ media.genre }}</span>
                        </div>
                        <div class="mt-auto pt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="vote-buttons">
                                    <a class="btn text-like btn-outline-success vote-btn" data-id="{{ media.id }}" data-type="like">
                                        <i class="bi bi-hand-thumbs-up-fill"></i> {{ media.likes }}
                                    </a>
                                    <a class="btn text-dislike btn-outline-danger vote-btn ms-2" data-id="{{ media.id }}" data-type="dislike">
                                        <i class="bi bi-hand-thumbs-down-fill"></i> {{ media.dislikes }}
                                    </a>
                                </div>
                                <div class="action-buttons">
                                    <a class="btn btn-outline-warning edit-btn" data-id="{{ media.id }}" data-bs-toggle="modal" data-bs-target="#registerModal">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="btn text-dislike btn-outline-danger delete-btn ms-2" data-id="${media.id}">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:5 %}
                </div><div class="row align-items-stretch justify-content-center"> <!-- fecha a linha e abre uma nova a cada 5 cards -->
            {% endif %}
        {% endfor %} 
    </div>
{% else %}
    <h1 class="text-white">Não há mídias disponíveis.</h1>
{% endif %}
